<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/now-ui-kit.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" href="static/assets/slimeydev.jpg">
    <title>SpellGPT</title>

    <!---- meta tags--->
    <meta name="theme-color" content="#2B79C2">
    <meta content="SlimeyDev" property="og:title">
    <meta name="title" content="SlimeyDev">
    <meta name="description" content="This is a website made by a youtuber called SlimeyDev!">
    <meta content="Welcome to the SlimeyDev's website!" property="og:description">
    <meta name="og:site_name" content="SlimeyDev">
    <meta name="keywords" content="coding, Nesar, SlimeyDev, gaming">
    <meta name="robots" content="index, follow">
    <meta property="og:image" content="https://ibb.co/DpZ99YK">

</head>
<body>
<nav class="navbar navbar-expand-lg bg-transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="static/assets/menuIcon.svg" width="20px" height="20px" style="max-width: none !important;">
    </button>
    <img src="static/assets/slimeydev2.jpg" width="50" height="50">
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="slimeydev.github.io/index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="slimeydev.github.io/contacts.html">Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="slimeydev.github.io/games.html">Games</a>
            <li class="nav-item">
                <a class="nav-link" href="https://www.youtube.com/@SlimeyDev/videos">Videos</a>
            </li>
            <div class="dropdown">
                <a style="text-decoration:none;" href="#" class="dropbtn">Apps</a>
                <div class="dropdown-content">
                <li class="nav-item">
                    <a class="nav-link" href="slimeydev.github.io/apps/encryptor.html">encryptor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="slimeydev.github.io/apps/decryptor.html">decryptor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="slimeydev.github.io/apps/sysinfo.html">sysinfo</a>
                </li>
                </div>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="slimeydev.github.io/projects.html">projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="slimeydev.github.io/SlimeyBOT.html">discord bot</a>
            </li>
        </ul>
</nav>
<div class="heading">
    <h1 style="font-size: 80px;">SpellGPT</h1>
    <div class="subtitle">
        <p style="font-size: 40px;">Correct your spelling and grammar using the GPT 3.5 language model!</p>
        <br /><br />
    </div>
</div>
    <div class="footer">
        <div class="bot-footer">
            Copyright © SlimeyDev - 2021 - 2023
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="static/js/now-ui-kit.min.js"></script>
</body>
</html>